!!! 5
html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		link(type='text/css', rel='stylesheet', href='css/jquery-ui.min.css')
		link(type='text/css', rel='stylesheet', href='css/main.css')
		script(type='text/javascript')!= 'var user = "'+username+'", homeroot = "'+homeroot+'";'
		script(type='text/javascript', src='js/jquery.js')
		script(type='text/javascript', src='js/jquery-ui.min.js')
		script(type='text/javascript', src='js/plugins.js')
		script(type='text/javascript', src='js/main.js')
	body
		#content
			header
				a(href='#')
					h1
				h2#back-and-forth
					button#back
						span.ui-icon.ui-icon-arrowthick-1-w
						| back
					button#next
						span.ui-icon.ui-icon-arrowthick-1-e
						| next
				h2#filepath
			#toolbar
				#toolbar-left
				#toolbar-right
					button#new new
					ul#new-menu
						li#new-dir
							a directory
						li#new-file
							a file
						li#new-link
							a link
					button#search-bttn search
			#locations-container
				nav#locations
					h3
						span.ui-icon.ui-icon-folder-open
						| Tree
					#sidebar-tree
						ul
					h3
						span.ui-icon.ui-icon-flag
						| Places
					div
						ul
							each obj in sidebar
								li
									a(href='#'+obj.url, style='font-weight: bold;')
										span.ui-icon(class='ui-icon-'+obj.icon)
										= obj.name
					h3
						span.ui-icon.ui-icon-tag
						| Bookmarks
					div
						button#new-bookmark bookmark here
						ul#sidebar-bookmarks
			#file-container
			p#message