!!! 5
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		link(type="text/css",rel="stylesheet",href="css/jquery-ui.min.css")
		link(type="text/css",rel="stylesheet",href="css/main.css")
		script(type="text/javascript",src="js/jquery.js")
		script(type="text/javascript",src="js/jquery-ui.min.js")
		script(type="text/javascript",src="js/plugins.js")
		script(type="text/javascript",src="js/main.js")
	body
		.content
			block content